<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
  </head>
  <body>
    <main id="v-app">
      <section class="alerts">
        <alerts-component
          :items="alerts"
          @onDismiss="onDismiss"
        ></alerts-component>
      </section>
      <section class="chat">
        <h1>Web-Socket Tester</h1>
        <form>
          <!-- <input v-model="username" type="text" /> <br /> -->
          <input v-model="text" type="text" />
          <button type="submit" @click.prevent="sendChatMessage()">Send</button>
        </form>
        <ul>
          <li v-for="message of messages[messages]">
            <strong>{{message.username}}: </strong> {{message.text}}
          </li>
        </ul>
        <div class="table-row">
          <button
            class="tab-btn"
            :class="{ active: activeRoom == 'general' }"
            @click="activeRoom = 'general'"
          >
            General
          </button>
          <button
            class="tab-btn"
            :class="{ active: activeRoom == 'typescript' }"
            @click="activeRoom = 'typescript'"
          >
            TypeScript
          </button>
          <button
            class="tab-btn"
            :class="{ active: activeRoom == 'nestjs' }"
            @click="activeRoom = 'nestjs'"
          >
            Nest.js
          </button>
        </div>
        <div class="tab-row">
          Status: {{ isMemberOfActiveRoom ? 'Joined': 'Leave' }}
          <button @click="toggleRoomStatus()">
            {{ isMemberOfActiveRoom ? 'Leave': 'Join' }}
          </button>
        </div>
      </section>
    </main>
    <script>
      Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
      const app = new Vue({
        el: '#v-app',
        data: {
          username: 'Hisham',
          text: '',
          messages: { general: [], typescript: [], nestjs: [] },
          alerts: [],
          socket: { chat: null, alert: null },
          activeRoom: 'general',
          isMemberOfActiveRoom: true,
        },
        methods: {
          onDismiss(...args) {
            console.log(
              `TCL ~ file: index.html ~ line 81 ~ onDismiss ~ args`,
              args,
            );
          },
          sendChatMessage() {
            if (!this.isMemberOfActiveRoom)
              return alert('You have to join a room first');
            console.log(`send: ${this.text}`);

            this.socket.chat.emit('chatToServer', {
              room: this.activeRoom,
              username: this.username,
              text: this.text,
            });

            // this.messages.push(this.text);
            this.text = '';
          },

          receiveChatMessage(message) {
            console.log(`received chat message: ${message}`);
            this.messages[activeRoom].push(message);
          },

          receiveAlertMessage(message) {
            console.log(`received alert message: ${message}`);
            this.alerts.push(message);
          },
          toggleRoomStatus() {
            console.log(
              `TCL ~ file: index.html ~ line 100 ~ toggleRoomStatus ~ this.isMemberOfActiveRoom`,
              this.isMemberOfActiveRoom,
              this.activeRoom,
            );
            this.isMemberOfActiveRoom = !this.isMemberOfActiveRoom;
          },
        },
        created() {
          // this.username = prompt('Please enter your username: ');

          this.socket.chat = io('http://localhost:3000/chat');
          this.socket.chat.on('chatToClient', (message) => {
            console.log(
              `TCL ~ file: index.html ~ line 127 ~ this.socket.chat.on ~ message`,
              message,
            );
            this.receiveChatMessage(message);
          });

          this.socket.alert = io('http://localhost:3000/alert');
          this.socket.alert.on('alertToClient', (message) => {
            this.receiveAlertMessage(message);
          });
        },
      });
    </script>
  </body>
</html>
